{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Загрузить  изображение</title>
</head>
<body>
<div class="content">
    <a href="{% url 'list_images' %}">Назад к списку</a>
    <h1>Новое изображение</h1>
    <form method="POST" action="" enctype="multipart/form-data">
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        {% csrf_token %}
        <label>
            Ссылка<br>
            <input name="link" class="image_link" type="text">
        </label><br><br>
        <label>
            Файл<br>
            <input name="image" class="image_file" type="file">
        </label><br><br>

            <input class="image_submit" type="submit">
    </form>
</div>
</body>
</html>
