{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование изображения</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<div class="content">
    <a href="{% url 'list_images' %}">Назад к списку</a>
    <h1>{{ ida_image.image_source.name }}</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <label>
            Ширина<br>
            <input name="width" type="text" value="{{ ida_image.width }}">
        </label><br><br>
        <label>
            Высота<br>
            <input name="height" type="text" value="{{ ida_image.height }}"><br><br>
            <input type="submit"><br><br>

            <img src="{{ ida_image.image.url }}">
        </label><br><br>

    </form>
</div>
</body>
</html>