{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Список изображений</title>
</head>
<body>
<div class="content">
    <h1>Список изображений</h1>
    {% for ida_image in ida_images %}
        <p><a href="{% url 'detail_image' ida_image.id %}">{{ ida_image.image_source.name }}</a></p>
    {% empty %}
        <p>Нет доступных изображений</p>
    {% endfor %}
    <a href="{% url 'create_image' %}">Добавить изображение</a>
</div>

</body>

</html>